.products-main-container {
  background-color: #f4f6f8;
  border-left: 1px solid #637381;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(8rem, 100%), 1fr));
  grid-gap: 1rem;
  padding: 1rem;
}

.category-buttons {
  padding: 0 1rem;
}

.category-buttons-container {
  display: inline;
}

.category-btn-all {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
.category-buttons-container > * {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.category-btn {
  background-color: #fff;
  color: inherit;
  font-weight: 500;
  border: 2px solid #637381;
  padding: 0.1rem 1rem;
  border-radius: 3px;
  text-transform: capitalize;
  transition: all 0.3s;
}
.selected-category {
  color: #3674d9;
  border: 2px solid #3674d9;
}
.secondary-text {
  color: #3674d9;
}
.secondary-bg {
  background-color: #e1eaf9;
}
.tertiary-text {
  color: #e55c57;
}
.tertiary-bg {
  background-color: #fadedd;
}

.more-category-btn {
  border: none;
  padding: 0.1rem 0.6rem;
  background-color: transparent;
}
.product-card {
  border: 1px solid #ccc;
  border-radius: 2px;
}
.product-image {
  width: 100%;
  object-fit: cover;
}

.product-details-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1rem;
}

.product-details-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.btn-main {
  border: none;
  outline: none;
  background-color: #e7e9f6;
  color: #7985cf;
  padding: 0.3rem 1rem;
  border-radius: 2px;
  font-weight: 500;
}

.product-details-modal-close-btn {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  padding: 1px 8px;
}

.product-details-text-container {
  text-align: justify;
  text-justify: inter-word;
}

.product-details-text-container h6 {
  font-weight: 700;
}

form.search-bar {
  border: none;
  padding: 0;
}

input.search-bar {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  display: block;
  padding: 9px 4px 9px 3.5rem;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 20px center;
}

input.search-bar::placeholder {
  color: #63738176;
  font-weight: 500;
}

/* responsive styles */
@media (max-width: 992px) {
  .products-main-container {
    border-left: none;
  }
}
